In [1]:
import pandas as pd
train_file_path = "young-people-survey/responses.csv"
train_data = pd.read_csv(train_file_path)
train_data.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [12]:
train_data.shape

(1010, 150)

In [5]:
train_data['Slow songs or fast songs'].corr(train_data['Empathy'])

-0.09389842576915869

In [13]:
#music data 
music_data = train_data.loc[:,'Music':'Opera']
music_data.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,Punk,"Hiphop, Rap","Reggae, Ska","Swing, Jazz",Rock n roll,Alternative,Latino,"Techno, Trance",Opera
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,1.0,1.0,1.0,1.0,3.0,1.0,1.0,1.0,1.0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,4.0,1.0,3.0,1.0,4.0,4.0,2.0,1.0,1.0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,4.0,1.0,4.0,3.0,5.0,5.0,5.0,1.0,3.0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,4.0,2.0,2.0,1.0,2.0,5.0,1.0,2.0,1.0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,2.0,5.0,3.0,2.0,1.0,2.0,4.0,2.0,2.0

In [22]:
for column in music_data:
    print(column)
    print("Correlation between Empathy and ",(column))
    print(music_data[column].corr(train_data['Empathy']))
    
#conclusion - music columns are not correlated with Empathy

Music
Correlation between Empathy and  Music
0.10271977669256296
Slow songs or fast songs
Correlation between Empathy and  Slow songs or fast songs
-0.09389842576915869
Dance
Correlation between Empathy and  Dance
0.05936432132757545
Folk
Correlation between Empathy and  Folk
0.11370581906928158
Country
Correlation between Empathy and  Country
0.04149131209467631
Classical music
Correlation between Empathy and  Classical music
0.03023055203088758
Musical
Correlation between Empathy and  Musical
0.12741670714092856
Pop
Correlation between Empathy and  Pop
0.09089304371303927
Rock
Correlation between Empathy and  Rock
0.0659737323101827
Metal or Hardrock
Correlation between Empathy and  Metal or Hardrock
-0.017701667769313367
Punk
Correlation between Empathy and  Punk
-0.0033422351583736664
Hiphop, Rap
Correlation between Empathy and  Hiphop, Rap
-0.06391984908263044
Reggae, Ska
Correlation between Empathy and  Reggae, Ska
0.05770826754956623
Swing, Jazz
Correlation between Empathy and  Swing, Jazz
0.09722800542321888
Rock n roll
Correlation between Empathy and  Rock n roll
0.07471048894476826
Alternative
Correlation between Empathy and  Alternative
0.0883755326338582
Latino
Correlation between Empathy and  Latino
0.19292094924036185
Techno, Trance
Correlation between Empathy and  Techno, Trance
0.018938473661007465
Opera
Correlation between Empathy and  Opera
0.02531288274035032

In [23]:
#movies data 
movies_data = train_data.loc[:,'Movies':'Action']
movies_data.head()

,Movies,Horror,Thriller,Comedy,Romantic,Sci-fi,War,Fantasy/Fairy tales,Animated,Documentary,Western,Action
0,5.0,4.0,2.0,5.0,4.0,4.0,1.0,5.0,5.0,3.0,1.0,2.0
1,5.0,2.0,2.0,4.0,3.0,4.0,1.0,3.0,5.0,4.0,1.0,4.0
2,5.0,3.0,4.0,4.0,2.0,4.0,2.0,5.0,5.0,2.0,2.0,1.0
3,5.0,4.0,4.0,3.0,3.0,4.0,3.0,1.0,2.0,5.0,1.0,2.0
4,5.0,4.0,4.0,5.0,2.0,3.0,3.0,4.0,4.0,3.0,1.0,4.0

In [24]:
for column in movies_data:
    print(column)
    print("Correlation between Empathy and ",(column))
    print(movies_data[column].corr(train_data['Empathy']))
    
#conclusion - movies columns are not correlated with Empathy

Movies
Correlation between Empathy and  Movies
0.004761153480125451
Horror
Correlation between Empathy and  Horror
-0.043498889152523625
Thriller
Correlation between Empathy and  Thriller
-0.012163220688247857
Comedy
Correlation between Empathy and  Comedy
0.11337458416847994
Romantic
Correlation between Empathy and  Romantic
0.1517822283723033
Sci-fi
Correlation between Empathy and  Sci-fi
-0.0362946227385355
War
Correlation between Empathy and  War
-0.06441958374947417
Fantasy/Fairy tales
Correlation between Empathy and  Fantasy/Fairy tales
0.19911960964497483
Animated
Correlation between Empathy and  Animated
0.10856981274239359
Documentary
Correlation between Empathy and  Documentary
0.04803799592182807
Western
Correlation between Empathy and  Western
-0.09836214653911941
Action
Correlation between Empathy and  Action
-0.09502278637454337

In [45]:
# finding correlation between PERSONALITY TRAITS, VIEWS ON LIFE & OPINIONS features and empathy

#personality data 
personality_data = train_data.loc[:,'Daily events':'Internet usage']
personality_data.head()

,Daily events,Prioritising workload,Writing notes,Workaholism,Thinking ahead,Final judgement,Reliability,Keeping promises,Loss of interest,Friends versus money,...,Happiness in life,Energy levels,Small - big dogs,Personality,Finding lost valuables,Getting up,Interests or hobbies,Parents' advice,Questionnaires or polls,Internet usage
0,2.0,2.0,5.0,4.0,2.0,5.0,4.0,4.0,1.0,3.0,...,4.0,5.0,1.0,4.0,3.0,2.0,3.0,4.0,3.0,few hours a day
1,3.0,2.0,4.0,5.0,4.0,1.0,4.0,4.0,3.0,4.0,...,4.0,3.0,5.0,3.0,4.0,5.0,3.0,2.0,3.0,few hours a day
2,1.0,2.0,5.0,3.0,5.0,3.0,4.0,5.0,1.0,5.0,...,4.0,4.0,3.0,3.0,3.0,4.0,5.0,3.0,1.0,few hours a day
3,4.0,4.0,4.0,5.0,3.0,1.0,3.0,4.0,5.0,2.0,...,2.0,2.0,1.0,2.0,1.0,1.0,NaN,2.0,4.0,most of the day
4,3.0,1.0,2.0,3.0,5.0,5.0,5.0,4.0,2.0,3.0,...,3.0,5.0,3.0,3.0,2.0,4.0,3.0,3.0,3.0,few hours a day

In [46]:
#calculate number of missing values
personality_data.isnull().sum()

Daily events                      7
Prioritising workload             5
Writing notes                     3
Workaholism                       5
Thinking ahead                    3
Final judgement                   7
Reliability                       4
Keeping promises                  1
Loss of interest                  4
Friends versus money              6
Funniness                         4
Fake                              1
Criminal damage                   7
Decision making                   4
Elections                         3
Self-criticism                    5
Judgment calls                    4
Hypochondria                      4
Empathy                           5
Eating to survive                 0
Giving                            6
Compassion to animals             7
Borrowed stuff                    2
Loneliness                        1
Cheating in school                4
Health                            1
Changing the past                 2
God                               2
Dreams                            0
Charity                           3
Number of friends                 0
Punctuality                       2
Lying                             2
Waiting                           3
New environment                   2
Mood swings                       4
Appearence and gestures           3
Socializing                       5
Achievements                      2
Responding to a serious letter    6
Children                          4
Assertiveness                     2
Getting angry                     4
Knowing the right people          2
Public speaking                   2
Unpopularity                      3
Life struggles                    3
Happiness in life                 4
Energy levels                     5
Small - big dogs                  4
Personality                       4
Finding lost valuables            4
Getting up                        5
Interests or hobbies              3
Parents' advice                   2
Questionnaires or polls           4
Internet usage                    0
dtype: int64

In [50]:
train_data['Empathy'].isnull().sum()

5

In [44]:
(personality_data == 0).sum()

Daily events                      0
Prioritising workload             0
Writing notes                     0
Workaholism                       0
Thinking ahead                    0
Final judgement                   0
Reliability                       0
Keeping promises                  0
Loss of interest                  0
Friends versus money              0
Funniness                         0
Fake                              0
Criminal damage                   0
Decision making                   0
Elections                         0
Self-criticism                    0
Judgment calls                    0
Hypochondria                      0
Empathy                           0
Eating to survive                 0
Giving                            0
Compassion to animals             0
Borrowed stuff                    0
Loneliness                        0
Cheating in school                0
Health                            0
Changing the past                 0
God                               0
Dreams                            0
Charity                           0
Number of friends                 0
Punctuality                       0
Lying                             0
Waiting                           0
New environment                   0
Mood swings                       0
Appearence and gestures           0
Socializing                       0
Achievements                      0
Responding to a serious letter    0
Children                          0
Assertiveness                     0
Getting angry                     0
Knowing the right people          0
Public speaking                   0
Unpopularity                      0
Life struggles                    0
Happiness in life                 0
Energy levels                     0
Small - big dogs                  0
Personality                       0
Finding lost valuables            0
Getting up                        0
Interests or hobbies              0
Parents' advice                   0
Questionnaires or polls           0
Internet usage                    0
dtype: int64

In [47]:
personality_data_numeric = personality_data._get_numeric_data()
personality_data_numeric.fillna(personality_data_numeric.mean(), inplace=True)

In [51]:
train_data['Empathy'].fillna(train_data['Empathy'].mean(), inplace=True)

In [42]:
from sklearn.preprocessing import Imputer
my_imputer = Imputer()

personality_data_imputed = my_imputer.fit_transform(personality_data_numeric)
print(personality_data_imputed.shape)
print(personality_data_imputed.head())

(1010, 54)

AttributeError: 'numpy.ndarray' object has no attribute 'head'

In [52]:
for column in personality_data_numeric:
    print(column)
    print("Correlation between Empathy and ",(column))
    print(personality_data_numeric[column].corr(train_data['Empathy']))
    
#conclusion - movies columns are not correlated with Empathy

Daily events
Correlation between Empathy and  Daily events
0.04704749825991703
Prioritising workload
Correlation between Empathy and  Prioritising workload
0.06670036615703029
Writing notes
Correlation between Empathy and  Writing notes
0.14466632022320683
Workaholism
Correlation between Empathy and  Workaholism
0.048532211272759376
Thinking ahead
Correlation between Empathy and  Thinking ahead
0.09225619976042436
Final judgement
Correlation between Empathy and  Final judgement
0.10325797111944528
Reliability
Correlation between Empathy and  Reliability
0.08021918824255785
Keeping promises
Correlation between Empathy and  Keeping promises
0.08443567281408151
Loss of interest
Correlation between Empathy and  Loss of interest
-0.09876835012918951
Friends versus money
Correlation between Empathy and  Friends versus money
0.176729635794494
Funniness
Correlation between Empathy and  Funniness
-0.025505363058864135
Fake
Correlation between Empathy and  Fake
-0.16315325895254934
Criminal damage
Correlation between Empathy and  Criminal damage
-0.022161421509894273
Decision making
Correlation between Empathy and  Decision making
0.10128340157450613
Elections
Correlation between Empathy and  Elections
0.08463121007592743
Self-criticism
Correlation between Empathy and  Self-criticism
0.10163836054531701
Judgment calls
Correlation between Empathy and  Judgment calls
0.23953745817848893
Hypochondria
Correlation between Empathy and  Hypochondria
0.024004171956907176
Empathy
Correlation between Empathy and  Empathy
0.9999999999999998
Eating to survive
Correlation between Empathy and  Eating to survive
-0.06759079449899352
Giving
Correlation between Empathy and  Giving
0.16228067027853646
Compassion to animals
Correlation between Empathy and  Compassion to animals
0.19133476942295224
Borrowed stuff
Correlation between Empathy and  Borrowed stuff
0.1459020813697014
Loneliness
Correlation between Empathy and  Loneliness
0.033363372510025704
Cheating in school
Correlation between Empathy and  Cheating in school
-0.006719656418751848
Health
Correlation between Empathy and  Health
0.06936700723735091
Changing the past
Correlation between Empathy and  Changing the past
-0.03275672398904727
God
Correlation between Empathy and  God
0.09954915409026253
Dreams
Correlation between Empathy and  Dreams
-0.0376764882688423
Charity
Correlation between Empathy and  Charity
0.03263715240077315
Number of friends
Correlation between Empathy and  Number of friends
0.025097269025683374
Waiting
Correlation between Empathy and  Waiting
-0.013122768497091439
New environment
Correlation between Empathy and  New environment
-0.021631577934351137
Mood swings
Correlation between Empathy and  Mood swings
0.046627359178893116
Appearence and gestures
Correlation between Empathy and  Appearence and gestures
0.0825105919508646
Socializing
Correlation between Empathy and  Socializing
0.004940361700035222
Achievements
Correlation between Empathy and  Achievements
-0.10346867937663679
Responding to a serious letter
Correlation between Empathy and  Responding to a serious letter
0.00860562057360702
Children
Correlation between Empathy and  Children
0.1954324202629385
Assertiveness
Correlation between Empathy and  Assertiveness
-0.020389421234700805
Getting angry
Correlation between Empathy and  Getting angry
-0.054653434111404366
Knowing the right people
Correlation between Empathy and  Knowing the right people
-0.015398418418343543
Public speaking
Correlation between Empathy and  Public speaking
0.0050466404133783765
Unpopularity
Correlation between Empathy and  Unpopularity
0.07758539358582932
Life struggles
Correlation between Empathy and  Life struggles
0.25339803696028623
Happiness in life
Correlation between Empathy and  Happiness in life
-0.0028882345995669702
Energy levels
Correlation between Empathy and  Energy levels
0.03158287748432991
Small - big dogs
Correlation between Empathy and  Small - big dogs
-0.10363536627577781
Personality
Correlation between Empathy and  Personality
-0.022300999972010703
Finding lost valuables
Correlation between Empathy and  Finding lost valuables
0.051357654682121286
Getting up
Correlation between Empathy and  Getting up
0.07048302951186497
Interests or hobbies
Correlation between Empathy and  Interests or hobbies
0.030892123048704614
Parents' advice
Correlation between Empathy and  Parents' advice
0.1140234856756684
Questionnaires or polls
Correlation between Empathy and  Questionnaires or polls
0.08401917926842513

In [53]:
#Using Recursive Feature Elimination

from sklearn import datasets
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

#personality_data = personality_data._get_numeric_data()
# create a base classifier used to evaluate a subset of attributes
model = LinearRegression()
# create the RFE model and select 3 attributes
rfe = RFE(model, 3)
rfe = rfe.fit(personality_data_numeric, train_data['Empathy'])
# summarize the selection of the attributes
print(rfe.support_)
print(rfe.ranking_)

[False False False False False False False False False False False False
 False False False False False  True  True False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False]
[39 33 13  3 37 36 11 52 45 30 46 44 42 38 34  7 26  1  1  8 48  1 40  4
 21  6 27 18 19 29 41 10 35 31 43 25  2 32 51 15 47  5 23  9 28 22 12 17
 20 24 14 16 50 49]

In [54]:

# Feature Importance
from sklearn import datasets
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

# fit an Extra Trees model to the data
model = ExtraTreesClassifier()
model.fit(personality_data_numeric, train_data['Empathy'])
# display the relative importance of each attribute
print(model.feature_importances_)

ValueError: Unknown label type: 'continuous'

In [55]:
#loading data with all features
train_data = pd.read_csv(train_file_path)
train_data.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Age,Height,Weight,Number of siblings,Gender,Left - right handed,Education,Only child,Village - town,House - block of flats
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,20.0,163.0,48.0,1.0,female,right handed,college/bachelor degree,no,village,block of flats
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,19.0,163.0,58.0,2.0,female,right handed,college/bachelor degree,no,city,block of flats
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,20.0,176.0,67.0,2.0,female,right handed,secondary school,no,city,block of flats
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,22.0,172.0,59.0,1.0,female,right handed,college/bachelor degree,yes,city,house/bungalow
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,20.0,170.0,59.0,1.0,female,right handed,secondary school,no,village,house/bungalow

In [56]:
#getting list of numeric columns and categorical columns
cols = train_data.columns
num_cols = train_data._get_numeric_data().columns
cat_cols = list(set(cols) - set(num_cols))
print(num_cols)
print(cat_cols)

Index(['Music', 'Slow songs or fast songs', 'Dance', 'Folk', 'Country',
       'Classical music', 'Musical', 'Pop', 'Rock', 'Metal or Hardrock',
       ...
       'Shopping centres', 'Branded clothing', 'Entertainment spending',
       'Spending on looks', 'Spending on gadgets',
       'Spending on healthy eating', 'Age', 'Height', 'Weight',
       'Number of siblings'],
      dtype='object', length=139)
['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']

In [57]:
#getting only numeric data
train_data_numeric = train_data._get_numeric_data()

In [62]:
#getting null values in numeric data
train_data_numeric.isnull().sum()

Music                              3
Slow songs or fast songs           2
Dance                              4
Folk                               5
Country                            5
Classical music                    7
Musical                            2
Pop                                3
Rock                               6
Metal or Hardrock                  3
Punk                               8
Hiphop, Rap                        4
Reggae, Ska                        7
Swing, Jazz                        6
Rock n roll                        7
Alternative                        7
Latino                             8
Techno, Trance                     7
Opera                              1
Movies                             6
Horror                             2
Thriller                           1
Comedy                             3
Romantic                           3
Sci-fi                             2
War                                2
Fantasy/Fairy tales                3
Animated                           3
Documentary                        8
Western                            4
                                  ..
Socializing                        5
Achievements                       2
Responding to a serious letter     6
Children                           4
Assertiveness                      2
Getting angry                      4
Knowing the right people           2
Public speaking                    2
Unpopularity                       3
Life struggles                     3
Happiness in life                  4
Energy levels                      5
Small - big dogs                   4
Personality                        4
Finding lost valuables             4
Getting up                         5
Interests or hobbies               3
Parents' advice                    2
Questionnaires or polls            4
Finances                           3
Shopping centres                   2
Branded clothing                   2
Entertainment spending             3
Spending on looks                  3
Spending on gadgets                0
Spending on healthy eating         2
Age                                7
Height                            20
Weight                            20
Number of siblings                 6
Length: 139, dtype: int64

In [63]:
train_data_numeric.describe()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Shopping centres,Branded clothing,Entertainment spending,Spending on looks,Spending on gadgets,Spending on healthy eating,Age,Height,Weight,Number of siblings
count,1007.000000,1008.000000,1006.000000,1005.000000,1005.000000,1003.000000,1008.000000,1007.000000,1004.000000,1007.000000,...,1008.000000,1008.000000,1007.000000,1007.000000,1010.000000,1008.00000,1003.000000,990.000000,990.000000,1004.000000
mean,4.731877,3.328373,3.113320,2.288557,2.123383,2.956132,2.761905,3.471698,3.761952,2.361470,...,3.234127,3.050595,3.201589,3.106256,2.870297,3.55754,20.433699,173.514141,66.405051,1.297809
std,0.664049,0.833931,1.170568,1.138916,1.076136,1.252570,1.260845,1.161400,1.184861,1.372995,...,1.323062,1.306321,1.188947,1.205368,1.284970,1.09375,2.828840,10.024505,13.839561,1.013348
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,15.000000,62.000000,41.000000,0.000000
25%,5.000000,3.000000,2.000000,1.000000,1.000000,2.000000,2.000000,3.000000,3.000000,1.000000,...,2.000000,2.000000,2.000000,2.000000,2.000000,3.00000,19.000000,167.000000,55.000000,1.000000
50%,5.000000,3.000000,3.000000,2.000000,2.000000,3.000000,3.000000,4.000000,4.000000,2.000000,...,3.000000,3.000000,3.000000,3.000000,3.000000,4.00000,20.000000,173.000000,64.000000,1.000000
75%,5.000000,4.000000,4.000000,3.000000,3.000000,4.000000,4.000000,4.000000,5.000000,3.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.00000,22.000000,180.000000,75.000000,2.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,30.000000,203.000000,165.000000,10.000000

In [84]:
train_data_category = train_data[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']]
train_data_category.head()

,Education,Lying,Internet usage,Village - town,Punctuality,Only child,Left - right handed,Smoking,Alcohol,Gender,House - block of flats
0,college/bachelor degree,never,few hours a day,village,i am always on time,no,right handed,never smoked,drink a lot,female,block of flats
1,college/bachelor degree,sometimes,few hours a day,city,i am often early,no,right handed,never smoked,drink a lot,female,block of flats
2,secondary school,sometimes,few hours a day,city,i am often running late,no,right handed,tried smoking,drink a lot,female,block of flats
3,college/bachelor degree,only to avoid hurting someone,most of the day,city,i am often early,yes,right handed,former smoker,drink a lot,female,house/bungalow
4,secondary school,everytime it suits me,few hours a day,village,i am always on time,no,right handed,tried smoking,social drinker,female,house/bungalow

In [90]:
#null values in categories
train_data_category.isnull().sum()

Education                 0
Lying                     0
Internet usage            0
Village - town            0
Punctuality               0
Only child                0
Left - right handed       0
Smoking                   0
Alcohol                   0
Gender                    0
House - block of flats    0
dtype: int64

In [86]:
train_data_category.shape

(1010, 11)

In [87]:
# dropping rows having missing values in categorical features - as only small number of rows that is 34 is deleted out of 1010
train_data_category = train_data_category[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']].dropna(axis=0, how='any')

In [88]:
train_data_category.shape

(976, 11)

In [64]:
train_data_category.describe()

,Education,Lying,Internet usage,Village - town,Punctuality,Only child,Left - right handed,Smoking,Alcohol,Gender,House - block of flats
count,1009,1008,1010,1006,1008,1008,1007,1002,1005,1004,1006
unique,6,4,4,2,3,2,2,4,3,2,2
top,secondary school,sometimes,few hours a day,city,i am always on time,no,right handed,tried smoking,social drinker,female,block of flats
freq,621,549,744,707,399,754,906,430,659,593,595

In [66]:
#unique values in categorical features
print('Education')
print(train_data_category['Education'].unique())
print('Lying')
print(train_data_category['Lying'].unique())
print('Internet usage')
print(train_data_category['Internet usage'].unique())
print('Village - town')
print(train_data_category['Village - town'].unique())
print('Punctuality')
print(train_data_category['Punctuality'].unique())
print('Only child')
print(train_data_category['Only child'].unique())
print('Left - right handed')
print(train_data_category['Left - right handed'].unique())
print('Smoking')
print(train_data_category['Smoking'].unique())
print('Alcohol')
print(train_data_category['Alcohol'].unique())
print('Gender')
print(train_data_category['Gender'].unique())
print('House - block of flats')
print(train_data_category['House - block of flats'].unique())

Education
['college/bachelor degree' 'secondary school' 'primary school'
 'masters degree' 'doctorate degree' 'currently a primary school pupil'
 nan]
Lying
['never' 'sometimes' 'only to avoid hurting someone'
 'everytime it suits me' nan]
Internet usage
['few hours a day' 'most of the day' 'less than an hour a day'
 'no time at all']
Village - town
['village' 'city' nan]
Punctuality
['i am always on time' 'i am often early' 'i am often running late' nan]
Only child
['no' 'yes' nan]
Left - right handed
['right handed' 'left handed' nan]
Smoking
['never smoked' 'tried smoking' 'former smoker' 'current smoker' nan]
Alcohol
['drink a lot' 'social drinker' 'never' nan]
Gender
['female' 'male' nan]
House - block of flats
['block of flats' 'house/bungalow' nan]

In [91]:
#getting age weight and height data
train_data_demog = train_data_numeric[['Age','Height','Weight']]
train_data_demog.head()

    Age  Height  Weight
0  20.0   163.0    48.0
1  19.0   163.0    58.0
2  20.0   176.0    67.0
3  22.0   172.0    59.0
4  20.0   170.0    59.0

In [161]:
(train_data_demog.isnull()).sum()

Age        7
Height    20
Weight    20
dtype: int64

In [163]:
my_imputer = Imputer()
imputed_train_data_demog = pd.DataFrame(my_imputer.fit_transform(train_data_demog))
imputed_train_data_demog.shape

(1010, 3)

In [166]:
(imputed_train_data_demog.isnull()).sum()
imputed_train_data_demog.columns = ['Age','Height','Weight']

In [169]:
imputed_train_data_demog.head()

    Age  Height  Weight
0  20.0    1.63    48.0
1  19.0    1.63    58.0
2  20.0    1.76    67.0
3  22.0    1.72    59.0
4  20.0    1.70    59.0

In [225]:
#converting height into meters
imputed_train_data_demog['Height'] = imputed_train_data_demog['Height']/100

In [170]:
#calculating bmi
bmi = pd.DataFrame(imputed_train_data_demog['Weight']/((imputed_train_data_demog['Height'])**2))

In [232]:
imputed_train_data_demog.head()

    Age  Height  Weight
0  20.0  0.0163    48.0
1  19.0  0.0163    58.0
2  20.0  0.0176    67.0
3  22.0  0.0172    59.0
4  20.0  0.0170    59.0

In [171]:
bmi.head()

           0
0  18.066167
1  21.829952
2  21.629649
3  19.943213
4  20.415225

In [173]:
#classify as overweight, healthy and underweight

bmi['index'] = ['underweight' if x < 18.5  else 'overweight' if x > 24.9 else 'healthy' for x in bmi[0]]

In [174]:
bmi.head()

           0        index
0  18.066167  underweight
1  21.829952      healthy
2  21.629649      healthy
3  19.943213      healthy
4  20.415225      healthy

In [127]:
def loadData(filePath):
    train_data = pd.read_csv(train_file_path)
    return train_data

In [191]:
def removeRowsHavingMissingValuesinCategories(train_data):
    #train_data_reduced = train_data[train_data.[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']].dropna(axis=0, how='any')]
    train_data_reduced = train_data.dropna(subset=['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats'])
    
    #train_data_reduced = train_data[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']].dropna(axis=0, how='any')
    return train_data_reduced

In [152]:
def getNumericColumns(train_data):
    #getting only numeric data
    train_data_numeric = train_data._get_numeric_data()
    return train_data_numeric

In [153]:
def getCategoricalColumns(train_data):
    train_data_category = train_data[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']]
    return train_data_category

In [157]:
def getReducedCategory(train_data):
    train_data_category_reduced = train_data[['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats']].dropna(axis=0, how='any')
    return train_data_category_reduced

In [229]:
def getBMI(train_data_demog):
    #calculating bmi
    #getting age weight and height data
    #train_data = train_data_mix.copy()
    
    
    #train_data.drop(['Height','Weight'],axis=1)
    bmi = pd.DataFrame(train_data_demog['Weight']/((train_data_demog['Height'])**2))
    bmi['bmi_index'] = ['underweight' if x < 18.5  else 'overweight' if x > 24.9 else 'healthy' for x in bmi[0]]
    #train_data_result = train_data.join(bmi['bmi_index'])
    return bmi['bmi_index']

In [454]:
#start here
train_data = loadData(train_file_path)

In [455]:
train_data.shape

(1010, 150)

In [456]:
train_data_reduced = removeRowsHavingMissingValuesinCategories(train_data)
train_data_reduced.shape

(976, 150)

In [457]:
train_data_category = getCategoricalColumns(train_data_reduced)
train_data_category.shape

(976, 11)

In [458]:
# drop categories
train_data_reduced_without_categories = train_data_reduced.drop(['Education', 'Lying', 'Internet usage', 'Village - town', 'Punctuality', 'Only child', 'Left - right handed', 'Smoking', 'Alcohol', 'Gender', 'House - block of flats'],axis=1)
train_data_reduced_without_categories.shape

(976, 139)

In [459]:
column_names = train_data_reduced_without_categories.columns

In [460]:
train_data_category_encoded = pd.get_dummies(train_data_category_reduced)
train_data_category_encoded.head()

,Education_college/bachelor degree,Education_currently a primary school pupil,Education_doctorate degree,Education_masters degree,Education_primary school,Education_secondary school,Lying_everytime it suits me,Lying_never,Lying_only to avoid hurting someone,Lying_sometimes,...,Smoking_former smoker,Smoking_never smoked,Smoking_tried smoking,Alcohol_drink a lot,Alcohol_never,Alcohol_social drinker,Gender_female,Gender_male,House - block of flats_block of flats,House - block of flats_house/bungalow
0,1,0,0,0,0,0,0,1,0,0,...,0,1,0,1,0,0,1,0,1,0
1,1,0,0,0,0,0,0,0,0,1,...,0,1,0,1,0,0,1,0,1,0
2,0,0,0,0,0,1,0,0,0,1,...,0,0,1,1,0,0,1,0,1,0
3,1,0,0,0,0,0,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
4,0,0,0,0,0,1,1,0,0,0,...,0,0,1,0,0,1,1,0,0,1

In [461]:
my_imputer = Imputer()
imputed_train_data_reduced_without_categories = pd.DataFrame(my_imputer.fit_transform(train_data_reduced_without_categories))
imputed_train_data_reduced_without_categories.columns = column_names
imputed_train_data_reduced_without_categories.shape

(976, 139)

In [462]:
(imputed_train_data_reduced_without_categories.isnull()).sum()

Music                             0
Slow songs or fast songs          0
Dance                             0
Folk                              0
Country                           0
Classical music                   0
Musical                           0
Pop                               0
Rock                              0
Metal or Hardrock                 0
Punk                              0
Hiphop, Rap                       0
Reggae, Ska                       0
Swing, Jazz                       0
Rock n roll                       0
Alternative                       0
Latino                            0
Techno, Trance                    0
Opera                             0
Movies                            0
Horror                            0
Thriller                          0
Comedy                            0
Romantic                          0
Sci-fi                            0
War                               0
Fantasy/Fairy tales               0
Animated                          0
Documentary                       0
Western                           0
                                 ..
Socializing                       0
Achievements                      0
Responding to a serious letter    0
Children                          0
Assertiveness                     0
Getting angry                     0
Knowing the right people          0
Public speaking                   0
Unpopularity                      0
Life struggles                    0
Happiness in life                 0
Energy levels                     0
Small - big dogs                  0
Personality                       0
Finding lost valuables            0
Getting up                        0
Interests or hobbies              0
Parents' advice                   0
Questionnaires or polls           0
Finances                          0
Shopping centres                  0
Branded clothing                  0
Entertainment spending            0
Spending on looks                 0
Spending on gadgets               0
Spending on healthy eating        0
Age                               0
Height                            0
Weight                            0
Number of siblings                0
Length: 139, dtype: int64

In [463]:
train_data_category_encoded.shape

(976, 34)

In [464]:
(train_data_category_encoded.isnull()).sum()

Education_college/bachelor degree             0
Education_currently a primary school pupil    0
Education_doctorate degree                    0
Education_masters degree                      0
Education_primary school                      0
Education_secondary school                    0
Lying_everytime it suits me                   0
Lying_never                                   0
Lying_only to avoid hurting someone           0
Lying_sometimes                               0
Internet usage_few hours a day                0
Internet usage_less than an hour a day        0
Internet usage_most of the day                0
Internet usage_no time at all                 0
Village - town_city                           0
Village - town_village                        0
Punctuality_i am always on time               0
Punctuality_i am often early                  0
Punctuality_i am often running late           0
Only child_no                                 0
Only child_yes                                0
Left - right handed_left handed               0
Left - right handed_right handed              0
Smoking_current smoker                        0
Smoking_former smoker                         0
Smoking_never smoked                          0
Smoking_tried smoking                         0
Alcohol_drink a lot                           0
Alcohol_never                                 0
Alcohol_social drinker                        0
Gender_female                                 0
Gender_male                                   0
House - block of flats_block of flats         0
House - block of flats_house/bungalow         0
dtype: int64

In [465]:
imputed_train_data_reduced_without_categories.shape

(976, 139)

In [466]:
# combine train_data_category_encoded  + imputed_train_data_reduced_without_categories
#calculate bmi and combine
#train test split
# feature selection algorithm

train_data_mix = imputed_train_data_reduced_without_categories.join(train_data_category_encoded,how='inner')
train_data_mix.shape
#train_data_mix['Height'] = train_data_mix['Height']/100

(946, 173)

In [467]:
(train_data_mix.isnull()).sum()

Music                                     0
Slow songs or fast songs                  0
Dance                                     0
Folk                                      0
Country                                   0
Classical music                           0
Musical                                   0
Pop                                       0
Rock                                      0
Metal or Hardrock                         0
Punk                                      0
Hiphop, Rap                               0
Reggae, Ska                               0
Swing, Jazz                               0
Rock n roll                               0
Alternative                               0
Latino                                    0
Techno, Trance                            0
Opera                                     0
Movies                                    0
Horror                                    0
Thriller                                  0
Comedy                                    0
Romantic                                  0
Sci-fi                                    0
War                                       0
Fantasy/Fairy tales                       0
Animated                                  0
Documentary                               0
Western                                   0
                                         ..
Education_primary school                  0
Education_secondary school                0
Lying_everytime it suits me               0
Lying_never                               0
Lying_only to avoid hurting someone       0
Lying_sometimes                           0
Internet usage_few hours a day            0
Internet usage_less than an hour a day    0
Internet usage_most of the day            0
Internet usage_no time at all             0
Village - town_city                       0
Village - town_village                    0
Punctuality_i am always on time           0
Punctuality_i am often early              0
Punctuality_i am often running late       0
Only child_no                             0
Only child_yes                            0
Left - right handed_left handed           0
Left - right handed_right handed          0
Smoking_current smoker                    0
Smoking_former smoker                     0
Smoking_never smoked                      0
Smoking_tried smoking                     0
Alcohol_drink a lot                       0
Alcohol_never                             0
Alcohol_social drinker                    0
Gender_female                             0
Gender_male                               0
House - block of flats_block of flats     0
House - block of flats_house/bungalow     0
Length: 173, dtype: int64

In [312]:
train_data_dem = train_data_mix[['Height','Weight']]
train_data_dem['Height'] = train_data_dem['Height']/100
train_data_dem.head()

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Height  Weight
0    1.63    48.0
1    1.63    58.0
2    1.76    67.0
3    1.72    59.0
4    1.70    59.0

In [313]:
bmi_index =  getBMI(train_data_dem)
bmi_index.columns = ['bmi_index']
bmi_index.head()

0    underweight
1        healthy
2        healthy
3        healthy
4        healthy
Name: bmi_index, dtype: object

In [314]:
#drop weight and height from mix
train_data_mix = train_data_mix.drop(['Height','Weight'],axis=1)
train_data_mix.shape

(946, 171)

In [284]:
train_data_mix = train_data_mix.drop(['bmi_index'],axis=1)
#train_data_mix = train_data_mix.join(bmi_index)

In [468]:
train_data_mix.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Smoking_former smoker,Smoking_never smoked,Smoking_tried smoking,Alcohol_drink a lot,Alcohol_never,Alcohol_social drinker,Gender_female,Gender_male,House - block of flats_block of flats,House - block of flats_house/bungalow
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,0,1,0,1,0,0,1,0,1,0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,0,1,0,1,0,0,1,0,1,0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,0,0,1,1,0,0,1,0,1,0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,1,0,0,1,0,0,1,0,0,1
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,0,0,1,0,0,1,1,0,0,1

In [315]:
bmi_index_encoded = pd.get_dummies(bmi_index)
bmi_index_encoded.head()

   healthy  overweight  underweight
0        0           0            1
1        1           0            0
2        1           0            0
3        1           0            0
4        1           0            0

In [316]:
train_data_mix = train_data_mix.join(bmi_index_encoded)

In [317]:
train_data_mix.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Alcohol_drink a lot,Alcohol_never,Alcohol_social drinker,Gender_female,Gender_male,House - block of flats_block of flats,House - block of flats_house/bungalow,healthy,overweight,underweight
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,1,0,0,1,0,1,0,0,0,1
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,1,0,0,1,0,1,0,1,0,0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,1,0,0,1,0,1,0,1,0,0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,1,0,0,1,0,0,1,1,0,0
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,0,0,1,1,0,0,1,1,0,0

In [318]:
(train_data_mix.isnull()).sum()

Music                                     0
Slow songs or fast songs                  0
Dance                                     0
Folk                                      0
Country                                   0
Classical music                           0
Musical                                   0
Pop                                       0
Rock                                      0
Metal or Hardrock                         0
Punk                                      0
Hiphop, Rap                               0
Reggae, Ska                               0
Swing, Jazz                               0
Rock n roll                               0
Alternative                               0
Latino                                    0
Techno, Trance                            0
Opera                                     0
Movies                                    0
Horror                                    0
Thriller                                  0
Comedy                                    0
Romantic                                  0
Sci-fi                                    0
War                                       0
Fantasy/Fairy tales                       0
Animated                                  0
Documentary                               0
Western                                   0
                                         ..
Lying_never                               0
Lying_only to avoid hurting someone       0
Lying_sometimes                           0
Internet usage_few hours a day            0
Internet usage_less than an hour a day    0
Internet usage_most of the day            0
Internet usage_no time at all             0
Village - town_city                       0
Village - town_village                    0
Punctuality_i am always on time           0
Punctuality_i am often early              0
Punctuality_i am often running late       0
Only child_no                             0
Only child_yes                            0
Left - right handed_left handed           0
Left - right handed_right handed          0
Smoking_current smoker                    0
Smoking_former smoker                     0
Smoking_never smoked                      0
Smoking_tried smoking                     0
Alcohol_drink a lot                       0
Alcohol_never                             0
Alcohol_social drinker                    0
Gender_female                             0
Gender_male                               0
House - block of flats_block of flats     0
House - block of flats_house/bungalow     0
healthy                                   0
overweight                                0
underweight                               0
Length: 174, dtype: int64

In [469]:
X = train_data_mix.drop(["Empathy"],axis=1)
X.head()

,Music,Slow songs or fast songs,Dance,Folk,Country,Classical music,Musical,Pop,Rock,Metal or Hardrock,...,Smoking_former smoker,Smoking_never smoked,Smoking_tried smoking,Alcohol_drink a lot,Alcohol_never,Alcohol_social drinker,Gender_female,Gender_male,House - block of flats_block of flats,House - block of flats_house/bungalow
0,5.0,3.0,2.0,1.0,2.0,2.0,1.0,5.0,5.0,1.0,...,0,1,0,1,0,0,1,0,1,0
1,4.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0,...,0,1,0,1,0,0,1,0,1,0
2,5.0,5.0,2.0,2.0,3.0,4.0,5.0,3.0,5.0,3.0,...,0,0,1,1,0,0,1,0,1,0
3,5.0,3.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,...,1,0,0,1,0,0,1,0,0,1
4,5.0,3.0,4.0,3.0,2.0,4.0,3.0,5.0,3.0,1.0,...,0,0,1,0,0,1,1,0,0,1

In [470]:
Y = train_data_mix["Empathy"]
Y.head()

0    3.0
1    2.0
2    5.0
3    3.0
4    3.0
Name: Empathy, dtype: float64

In [325]:
# Recursive Feature Elimination
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression

def getRFEOnLinearRegression(X,Y):
    # create a base classifier used to evaluate a subset of attributes
    model = LinearRegression()
    # create the RFE model and select 3 attributes
    rfe = RFE(model, 3)
    rfe = rfe.fit(X, Y)
    # summarize the selection of the attributes
    print(rfe.support_)
    print(rfe.ranking_)
    #column names sorted by ranking
    feature_names = list(X.columns.values)
    print("Features sorted by their rank:")
    print(sorted(zip(map(lambda x: round(x, 4), rfe.ranking_), feature_names)))

In [2]:
from sklearn.linear_model import LogisticRegression
def getRFEOnLogisticRegression(X,Y):
    # create a base classifier used to evaluate a subset of attributes
    model = LogisticRegression()
    # create the RFE model and select 3 attributes
    rfe = RFE(model, 3)
    rfe = rfe.fit(X, Y)
    # summarize the selection of the attributes
    print(rfe.support_)
    print(rfe.ranking_)
    #column names sorted by ranking
    feature_names = list(X.columns.values)
    print("Features sorted by their rank:")
    print(sorted(zip(map(lambda x: round(x, 4), rfe.ranking_), feature_names)))
    features_sorted = sorted(zip(map(lambda x: round(x, 4), rfe.ranking_), feature_names))
    return features_sorted

In [330]:
features_sorted = getRFEOnLogisticRegression(X,Y)

[False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False  True
 False False False False False False  True False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False  True False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False False False False False False False False
 False False False False False]
[ 99  24 170  96 114  62 166  78 127 128 160  79 111 156  77  29  63 122
  88  16 163  35   6  80  19  75  33  76 159 123 158 154  10  21 169  72
 132  18  84 148 171  73  74  91 164 109  66 113 144 153 134  97 112 101
 136  13 141  65  70  95  94 143  86 146  93 118 147  71 142 152 105  90
  89 135  20 108  87 120  28  81 124 107 106   1 115   7  67 167 116  98
   1 140 157  30  85  36 126 110 139 149 137  12 129 150 102 103 125 138
 133   5 119  11 104  15 161  82 162   1  83 155  92 121 151 131 168  69
 117 130  64  68  61 100  42  32 165 145  22  55  39  40  41   8  59  31
  43  60  26  49  25   9  50  44  37  57  53  38  14   4  27  34   3  46
  52  54  23   2  56  58  51  45  47  48  17]
Features sorted by their rank:
[(1, 'Friends versus money'), (1, 'Judgment calls'), (1, 'Life struggles'), (2, 'Alcohol_social drinker'), (3, 'Smoking_former smoker'), (4, 'Left - right handed_left handed'), (5, 'Achievements'), (6, 'Comedy'), (7, 'Fake'), (8, 'Education_secondary school'), (9, 'Internet usage_no time at all'), (10, 'Psychology'), (11, 'Children'), (12, 'Dreams'), (13, 'Gardening'), (14, 'Only child_yes'), (15, 'Getting angry'), (16, 'Movies'), (17, 'underweight'), (18, 'PC'), (19, 'Sci-fi'), (20, 'Daily events'), (21, 'Politics'), (22, 'Education_college/bachelor degree'), (23, 'Alcohol_never'), (24, 'Slow songs or fast songs'), (25, 'Internet usage_most of the day'), (26, 'Internet usage_few hours a day'), (27, 'Left - right handed_right handed'), (28, 'Thinking ahead'), (29, 'Alternative'), (30, 'Giving'), (31, 'Lying_never'), (32, 'Spending on healthy eating'), (33, 'Fantasy/Fairy tales'), (34, 'Smoking_current smoker'), (35, 'Thriller'), (36, 'Borrowed stuff'), (37, 'Punctuality_i am always on time'), (38, 'Only child_no'), (39, 'Education_doctorate degree'), (40, 'Education_masters degree'), (41, 'Education_primary school'), (42, 'Spending on gadgets'), (43, 'Lying_only to avoid hurting someone'), (44, 'Village - town_village'), (45, 'House - block of flats_house/bungalow'), (46, 'Smoking_never smoked'), (47, 'healthy'), (48, 'overweight'), (49, 'Internet usage_less than an hour a day'), (50, 'Village - town_city'), (51, 'House - block of flats_block of flats'), (52, 'Smoking_tried smoking'), (53, 'Punctuality_i am often running late'), (54, 'Alcohol_drink a lot'), (55, 'Education_currently a primary school pupil'), (56, 'Gender_female'), (57, 'Punctuality_i am often early'), (58, 'Gender_male'), (59, 'Lying_everytime it suits me'), (60, 'Lying_sometimes'), (61, 'Entertainment spending'), (62, 'Classical music'), (63, 'Latino'), (64, 'Shopping centres'), (65, 'Shopping'), (66, 'Cars'), (67, 'Criminal damage'), (68, 'Branded clothing'), (69, "Parents' advice"), (70, 'Science and technology'), (71, 'Spiders'), (72, 'Physics'), (73, 'Reading'), (74, 'Geography'), (75, 'War'), (76, 'Animated'), (77, 'Rock n roll'), (78, 'Pop'), (79, 'Hiphop, Rap'), (80, 'Romantic'), (81, 'Final judgement'), (82, 'Public speaking'), (83, 'Happiness in life'), (84, 'Economy Management'), (85, 'Compassion to animals'), (86, 'Pets'), (87, 'Writing notes'), (88, 'Opera'), (89, 'Fear of public speaking'), (90, 'Dangerous dogs'), (91, 'Foreign languages'), (92, 'Small - big dogs'), (93, 'Storm'), (94, 'Fun with friends'), (95, 'Theatre'), (96, 'Folk'), (97, 'Musical instruments'), (98, 'Self-criticism'), (99, 'Music'), (100, 'Spending on looks'), (101, 'Passive sport'), (102, 'Waiting'), (103, 'New environment'), (104, 'Assertiveness'), (105, 'Ageing'), (106, 'Loss of interest'), (107, 'Keeping promises'), (108, 'Prioritising workload'), (109, 'Law'), (110, 'Cheating in school'), (111, 'Reggae, Ska'), (112, 'Writing'), (113, 'Art exhibitions'), (114, 'Country'), (115, 'Funniness'), (116, 'Elections'), (117, 'Questionnaires or polls'), (118, 'Darkness'), (119, 'Responding to a serious letter'), (120, 'Workaholism'), (121, 'Personality'), (122, 'Techno, Trance'), (123, 'Western'), (124, 'Reliability'), (125, 'Mood swings'), (126, 'Loneliness'), (127, 'Rock'), (128, 'Metal or Hardrock'), (129, 'Charity'), (130, 'Finances'), (131, 'Getting up'), (132, 'Internet'), (133, 'Socializing'), (134, 'Dancing'), (135, 'Healthy eating'), (136, 'Active sport'), (137, 'God'), (138, 'Appearence and gestures'), (139, 'Health'), (140, 'Hypochondria'), (141, 'Celebrities'), (142, 'Snakes'), (143, 'Adrenaline sports'), (144, 'Religion'), (145, 'Number of siblings'), (146, 'Flying'), (147, 'Heights'), (148, 'Biology'), (149, 'Changing the past'), (150, 'Number of friends'), (151, 'Finding lost valuables'), (152, 'Rats'), (153, 'Countryside, outdoors'), (154, 'History'), (155, 'Energy levels'), (156, 'Swing, Jazz'), (157, 'Eating to survive'), (158, 'Action'), (159, 'Documentary'), (160, 'Punk'), (161, 'Knowing the right people'), (162, 'Unpopularity'), (163, 'Horror'), (164, 'Medicine'), (165, 'Age'), (166, 'Musical'), (167, 'Decision making'), (168, 'Interests or hobbies'), (169, 'Mathematics'), (170, 'Dance'), (171, 'Chemistry')]

In [425]:
column_names=[]
for i in range(30):
    column_names.append(features_sorted[i][1])

In [381]:
#

In [382]:
X.shape

(946, 173)

In [371]:
Y.shape

(946,)

In [394]:
Y.head()

0    3
1    2
2    5
3    3
4    3
Name: Empathy, dtype: int64

In [426]:
X_top_100_features = X[column_names]

In [427]:
X_top_100_features.head()

,Friends versus money,Judgment calls,Life struggles,Alcohol_social drinker,Smoking_former smoker,Left - right handed_left handed,Achievements,Comedy,Fake,Education_secondary school,...,Sci-fi,Daily events,Politics,Education_college/bachelor degree,Alcohol_never,Slow songs or fast songs,Internet usage_most of the day,Internet usage_few hours a day,Left - right handed_right handed,Thinking ahead
0,3.0,3.0,1.0,0,0,0,4.0,5.0,1.0,0,...,4.0,2.0,1.0,1,0,3.0,0,1,1,2.0
1,4.0,4.0,1.0,0,0,0,2.0,4.0,2.0,0,...,4.0,3.0,4.0,1,0,4.0,0,1,1,4.0
2,5.0,4.0,4.0,0,0,0,3.0,4.0,4.0,1,...,4.0,1.0,1.0,0,0,5.0,0,1,1,5.0
3,2.0,4.0,3.0,0,1,0,3.0,3.0,1.0,0,...,4.0,4.0,5.0,1,0,3.0,1,0,1,3.0
4,3.0,5.0,2.0,1,0,0,3.0,5.0,2.0,1,...,3.0,3.0,3.0,0,0,3.0,0,1,1,5.0

In [375]:
Y.dtype

dtype('int64')

In [483]:
Y = Y.astype(int)

In [484]:
#X_num = pd.to_numeric(X_top_100_features, downcast='signed')

In [485]:
Y_num = pd.to_numeric(Y, downcast='signed')

In [486]:
##train validation data split

from sklearn.model_selection import train_test_split

train_X, val_X, train_Y, val_Y = train_test_split(X, Y_num,random_state = 0)

In [496]:
val_X.shape

(237, 90)

In [497]:
train_X.shape

(709, 90)

In [493]:
from sklearn.decomposition import PCA
# Make an instance of the Model
pca = PCA(.95)
pca.fit(train_X)
train_X = pca.transform(train_X)
val_X = pca.transform(val_X)

In [494]:
#Random Forest train
from sklearn.ensemble import RandomForestClassifier
forest_model = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)
forest_model.fit(train_X,train_Y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=5, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [495]:
#Random Forest predict
from sklearn.metrics import accuracy_score
forest_pred = forest_model.predict(val_X)
accuracy_score(val_Y, forest_pred)

0.3755274261603376

In [449]:
forest_pred_train = forest_model.predict(train_X)
accuracy_score(train_Y, forest_pred_train)

0.6361071932299013

In [363]:
# RandomForest
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error


forest_model_reg = RandomForestRegressor(max_depth = 30,random_state=0)
forest_model_reg.fit(train_X,train_Y)
forest_pred = forest_model_reg.predict(val_X)
mean_absolute_error(val_Y,forest_pred)

0.8025316455696202

In [365]:
import numpy as np
np.mean(forest_pred == val_Y)

0.02531645569620253

In [452]:
#multinomial logistic regression
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(train_X,train_Y)
#mul_lr = linear_model.LogisticRegression(multi_class='multinomial', solver='newton-cg').fit(train_X, train_Y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [453]:
logreg_pred = logreg.predict(val_X)
accuracy_score(val_Y, logreg_pred)

0.3924050632911392